<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>LSSupportsOpeningDocumentsInPlace</key>
        <true/>
        <key>CFBundleDisplayName</key>
        <string>Dep</string>
        <key>GADApplicationIdentifier</key>
        <string>ca-app-pub-6569958937383358~1396095654</string>
        <key>NSUserTrackingUsageDescription</key>
        <string>広告の最適化のためにトラッキングを許可してください。</string>
    </dict>
</plist>
